.divGeneral {
    display: flex;
    margin-left: 370px;
    margin-top: 40px;
}

.img {
    width: 250px;
    height: 250px;
}

.iconPlay svg {
    position: absolute;
    inset: 0px;
    left: 463px;
    top: 195px;
    width: 63px;
    height: 72px;
}

.infoDetail {
    width: 706px;
    background: linear-gradient(0deg, rgba(192, 96, 96, 0.7), rgba(189, 122, 122, 0.7)), url(../images/foxbel-music@3x.png);
}

.artistName {
    font-size: 22px;
    margin-top: 40px;
    margin-left: 32px;
    color: #FFFFFF;
    font-family: 'myFontArtistDetail';
}

.info1 {
    font-size: 14px;
    margin-left: 32px;
    color: #FFFFFF;
    font-family: 'myFontDetailInfo';
}

.info2 {
    font-size: 12px;
    margin-left: 32px;
    margin-right: 21px;
    color: #FFFFFF;
    font-family: 'myFontDetailInfo';
    margin-top: 20px;
}


.divButtons {
    display: flex;
    margin-top: 64px;
    margin-left: 32px;
}

.btn1 {
    background-color: #E86060;
    color: #FFFFFF;
    border-radius: 100px;
    padding: 8px;
    width: 122px;
    height: 31px;
    padding: 0px;
}

.btn2 {
    margin-left: 20px;
    color: #9e2b2b;
    border-radius: 100px;
    padding: 8px;
    border: 1px solid #9e2b2b;
    width: 122px;
    height: 31px;
    padding: 0px;
}


.btn2:hover {
    background-color: #E86060;
    color: #FFFFFF;
    border: 1px solid #FFFFFF;
}

.secondP {
    display: flex;
    align-items: center;
}

.subInfo1 {
    color: #662323;
    font-size: 10px;
    margin-left: 16px;
    font-family: 'myFontArtistDetail';
}

@font-face {
    font-family: 'myFontArtistDetail';
    src: url('../fontsType/Quicksand_Book.otf');
}

@font-face {
    font-family: 'myFontDetailInfo';
    src: url('../fontsType/Quicksand_Light.otf');
  }