.divGeneral {
    background-color: #662323;
    position: fixed;
    width: 330px;
    height: 100vh;
    left: 0px;
    top: 0px;
}

.logo {
    height: 59px;
    width: 250px;
    margin-left: 40px;
    margin-right: 40px;
    margin-top: 50px;
}



.divLibreria {
    margin-top: 30px;
}

p {
    color: #FFFFFF;
    font-size: 22px;
    margin-left: 40px;
    text-align: start;
    margin-top: 0px;
    margin-bottom: 0px;
    font-family: 'myFont';
}

ul {
    margin-top: 4px;
    margin-bottom: 0px;
    padding-left: 0px;
}

li {
    list-style: none;
    margin-top: 8px;
    text-align: start;
    font-size: 16px;
    font-family: 'myFontLight';
}

a {
    text-decoration: none;
    color: white;
    margin-left: 40px;
}

a:hover {
    color: #E86060;
}

.selected {
    border-left: 5px solid #E86060;
}

.selected a {
    color: #E86060;
    margin-left: 35px;
}

.divPlaylist {
    margin-top: 30px;
}



@font-face {
    font-family: 'myFont';
    src: url('../fontsType/Quicksand_Bold.otf');
}

  @font-face {
    font-family: 'myFontLight';
    src: url('../fontsType/Quicksand_Light.otf');
}
  