.divGeneral {
    margin-left: 370px;
    margin-right: 40px;
    margin-bottom: 216px;
}

.title {
    margin-top: 40px;
    color: #E86060;
    font-size: 22px;
    font-family: 'myFont2';
}

.cards {
    display: grid;
    flex-direction: row;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 27px;
    width: 170px;
}

@font-face {
    font-family: 'myFont2';
    src: url('../fontsType/Quicksand_Bold.otf');
  }
  